<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>New User</title>
</head>
<body><h2>Add new user</h2>
<form th:method="POST" th:action="@{/adduser}" th:object="${user}">

    <label>Enter name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <p style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
        Incorrect name
    </p>
    <br/>

    <label>Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <p style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
        Incorrect last name
    </p>
    <br/>

    <label>Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
        Incorrect email
    </p>
    <br/>

    <input type="submit" value="Save"/></form>
</body>
</html>